.km-ios .km-view .km-content .km-list > li {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 163, 199);
}
.km-ios .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(0, 100, 181);
}
.km-ios .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 102, 0);
}
.km-ios .km-view .km-tabstrip {
    background-color: rgb(0, 16, 165);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(46,46,46,.8)),color-stop(.5, rgba(21,21,21,.5)),color-stop(.5, rgba(0,0,0,.8)),color-stop(1, rgba(0,0,0,.8))),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpiZGBgqALix0C8EYiLGFDBXyCeBMR+zEDCGYiFoPgDlIaB20CsAcQqTEiCKkC8GYgfQE0C0Vuh4gwsSArv/P///yOQXoBsNyMj4x2Yici6sQGwLTCFfxnwg78ghWxArAzE3jgU+YLkkd2oAnQPPygogFgWKcjAngEFjwN6UEDFUYKMCVtQYAsyRmCQIAdFDJrim0D55SAGE7agwBZkTNiCAluQMWELCmxBBhBgAMO1Mzvr3GK6AAAAAElFTkSuQmCC");
    background-image: -moz-linear-gradient(50% 0%,rgba(46,46,46,.8),rgba(21,21,21,.5) 50%,rgba(0,0,0,.8) 50%,rgba(0,0,0,.8)),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpiZGBgqALix0C8EYiLGFDBXyCeBMR+zEDCGYiFoPgDlIaB20CsAcQqTEiCKkC8GYgfQE0C0Vuh4gwsSArv/P///yOQXoBsNyMj4x2Yici6sQGwLTCFfxnwg78ghWxArAzE3jgU+YLkkd2oAnQPPygogFgWKcjAngEFjwN6UEDFUYKMCVtQYAsyRmCQIAdFDJrim0D55SAGE7agwBZkTNiCAluQMWELCmxBBhBgAMO1Mzvr3GK6AAAAAElFTkSuQmCC");
    background-repeat: repeat,repeat;
    background-position: 0 0,0% 0%;
}
.km-ios .km-view .km-navbar {
    background-color: rgb(0, 100, 181);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.5)),color-stop(.06, rgba(255,255,255,.45)),color-stop(.5, rgba(255,255,255,.2)),color-stop(.5, rgba(255,255,255,.15)),color-stop(1, rgba(0,0,0,0))),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFRJREFUeNpiKigoMGJgYDBGwgpfvnwR////vwoMM0IlYOAtUMF3bm5uXphAYWEhHwM+E5BsIagArIiQAmMGggqAhjAQUgAyhIGQApAcAyEFIAwQYAD+7HsO5fo76wAAAABJRU5ErkJggg==");
    background-image: -moz-linear-gradient(50% 0%,rgba(255,255,255,.5),rgba(255,255,255,.45) 6%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.15) 50%,rgba(0,0,0,0)),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFRJREFUeNpiKigoMGJgYDBGwgpfvnwR////vwoMM0IlYOAtUMF3bm5uXphAYWEhHwM+E5BsIagArIiQAmMGggqAhjAQUgAyhIGQApAcAyEFIAwQYAD+7HsO5fo76wAAAABJRU5ErkJggg==");
    background-repeat: repeat,repeat;
    background-position: 0 0,0% 0%;
}
.km-ios .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(255, 148, 0);
}
.km-ios .km-view .km-content {
    background-color: rgb(255, 255, 255);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMtJREFUeNq81b0NwyAQBeBEWMxgWcgrUKHMxBY0XgF6FvAibjwIExChKC4sWf7j8B1XXfP0de+9rbUfrfX3BTzvfeOcA+dYCKGNMTZKqQQJSikT57yZpgmUY0KIbp7nVAtdwP9TC13BWugGrIHuQGr0EKRET0Eq9BKkQG9BbDQLxESzQSwUBGKgbBiGHlrAT1A2jmNb0vqlKDPGdKVTU4Iu4JN9g6IrWAvdgDXQHUiNHoKU6ClIhV6CFOgtiI1mgZhoNoiFgkAM9CfAAO0Pfd+RDuL0AAAAAElFTkSuQmCC");
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMtJREFUeNq81b0NwyAQBeBEWMxgWcgrUKHMxBY0XgF6FvAibjwIExChKC4sWf7j8B1XXfP0de+9rbUfrfX3BTzvfeOcA+dYCKGNMTZKqQQJSikT57yZpgmUY0KIbp7nVAtdwP9TC13BWugGrIHuQGr0EKRET0Eq9BKkQG9BbDQLxESzQSwUBGKgbBiGHlrAT1A2jmNb0vqlKDPGdKVTU4Iu4JN9g6IrWAvdgDXQHUiNHoKU6ClIhV6CFOgtiI1mgZhoNoiFgkAM9CfAAO0Pfd+RDuL0AAAAAElFTkSuQmCC");
    background-repeat: ,repeat;
    background-position: ,0% 0%;
}
.km-ios .km-view .km-tabstrip .km-state-active span.km-icon {
    background-color: rgb(255, 148, 0);
}
.km-ios .km-view .km-tabstrip .km-button .km-icon {
    background-color: rgb(255, 148, 0);
}
